body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #f8db02;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #555;
}

.full-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 0 20px;
}

#home {
    background: #f4f4f4;
}

#about, #projects, #contact {
    background: #e2e2e2;
}

#mypic{
    align-content: left;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
